@using ActionCommandGame.Services.Model.Results
@model PlayerResult

<tr>
    <td>@Model.Name</td>
    <td>@Model.Money</td>
    <td>@Model.Experience</td>
    <td>@Model.LastActionExecutedDateTime</td>
    <td>@Model.CurrentFuelPlayerItemId</td>
    <td>@Model.CurrentAttackPlayerItemId</td>
    <td>@Model.CurrentDefensePlayerItemId</td>
    <td>
        <a asp-action="PlayerEdit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
        <a asp-action="PlayerDelete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        @* <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" 
                data-bs-toggle="modal" 
                data-bs-target="#deleteModal"
                data-id="@Model.Id"
                data-role="Delete">
            Delete with modal
        </button> *@
    </td>
</tr>